@model CinestarEntities.MovyEntity

@{
    ViewBag.Title = "MovieDetails";
}


<div class=" wrap-input100  p-l-55 p-r-55 p-t-400 p-b-30">
    <h2>Movie Details</h2>
    <br /><br />
    @{
        <img src=@Model.MovieUrl.ToString() alt="Avengers" style="width:200px;height:250px;">
    }
    <dl class="dl-horizontal">


        <dt>
            <label>Movie Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            <label>Release Date</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            <label>Genre</label>
        </dt>

        <dd>
            <label>@ViewBag.genre</label>
        </dd>

        <dt>
            <label>Language</label>
        </dt>

        <dd>
            <label>@ViewBag.language</label>
        </dd>

        <dt>
            <label>Movie Description</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>

     

    </dl>
    <p>
        <button type="button" onclick="@("window.location.href='" + @Url.Action("GetShows", "Shows") + "/"+Model.MovieId+"'");">Book Now</button>


    </p>
    <p >
        @Html.ActionLink("Back to List", "ListAllMovies")
    </p>

</div>
